
@font-face {
  font-family: 'NanumBarunGothic';
}

body {
  font-family: 'NanumBarunGothic';
  src:url('../fonts/NanumBarunGothic.ttf')
}

.logo {
  width: 400px;
  height: 110px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.topnav {
  font-family: 'NanumBarunGothic';
  overflow: hidden;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: left;
  padding: 10px;
  width: 50%;
  margin-left: 20%;
  font-family: 'NanumBarunGothic';
  border-radius: 10px;
  border-color: #d5d5d5;
  margin-top: 8px;
  font-size: 17px;
  background-color: #D5D5D5;
}

.carticon {
  float: right;
  padding: 10px;
  width: 60px;
  height: 60px;
  color: black;
}

/* navigation bar end */

.searchtext {
  text-align: center;
  margin-bottom: 40px;
}

.btn {
  font-family: 'NanumBarunGothic';
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    background: linear-gradient(125deg,black, white);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    padding: 20px;
    padding: 15px;
    text-decoration: none;
}
  
  .btn:hover {
    background-position: right;
  }
  
  .bottomText {
    text-align: center;
  }

  #pricebutton {
    position:relative;
    left:40%;
    transform: translateX(-50%);
    margin-top: 20px;
    width: 80%;
    height: 40px;
    background: linear-gradient(125deg,#8C8C8C, lightgray);
    background-position: left;
    background-size: 200%;
    color:white;
    font-weight: bold;
    border:none;
    cursor:pointer;
    transition: 0.4s;
    display:inline;
    padding: 20px;
    padding: 15px;
    text-decoration: none;
  }

  .pricebuttons {
    float: right;
    margin-right: 18%;
  }

  #pricebutton:hover {
    background: linear-gradient(125deg,#CC3D3D, #FFD8D8);
  }

.productcontainer {
  margin-left: 3%;
}

#product {
  font-family: 'NanumBarunGothic';
  float: left;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}

.category {
  line-height: 30px;
  font-family: 'NanumBarunGothic';
  font-size: 20px;
}

#cartbutton {
  width: 200px;
  height: auto;
  line-height: 30px;
  border: none;
}

#gototheproductpage {
  width: 200px;
  height: auto;
  line-height: 30px;
  border: none;
}

.tomypage {
  width: 230px;
  position: relative;
  float: left;
  height: 500px;
  margin: 10px;
}

.overlay1 {
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0;
  height: 500px;
  width: 230px;
  max-width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: black;
  margin: 10px;
}

.tomypage:hover .overlay1 {
  opacity: 1;
}

.pagenumber {
  font-size: 20px;
}

/* footer */

.footer {
  float: bottom;
  background-color: rgb(49, 46, 46);
  color: #e6e9ec;
  padding: 20px 0px 20px 0px;
  margin-top: 40%;
}

.footer .title{text-align: left;color:#fff;font-size:25px;}


.footer .social-icon{padding:0px;margin:0px;}
.footer .social-icon a{display:inline-block;color:#fff;font-size:25px;padding:5px;}
.footer .acount-icon a{display:block;color:#fff;font-size:18px;padding:5px;text-decoration:none;}
.footer .acount-icon .fa{margin-right:25px;}


.footer .category a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 5px 20px;
  margin: 1px;
  border-radius:4px;
  margin-top: 6px;
  background-color: black;
  border: solid 1px #fff;
}

.footer .payment{margin:0px;padding:0px;list-style-type:none}
.footer .payment li{list-style-type:none}
.footer .payment li a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  float: left;
  font-size: 25px;
  padding: 10px 10px;
}