{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Login CODI BOOGIE</title>
  <link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>
   {% if user %}
   <a href="{% url 'main2' %}"> <img class="logo" src="{% static 'myapp/img/main/로고.jpg' %}" alt=""></a>
   {% else%}
   
   <a href="{% url 'signin' %}" onclick="return confirm('로그인을 해주세요!!')"> <img class="logo" src="{% static 'myapp/img/main/로고.jpg' %}" alt=""></a>
   {% endif %}
    <hr class="hr1">

    <div class="container logintext">
      <div class="row">
			<div class="col-md-5 mx-auto">
			<div id="first">
				<div class="myform form ">
					 <div class="logo mb-3">
						 <div class="col-md-12 text-center logintextt">
							<h1>Login</h1>
						 </div>
					</div>
                   <form action="{% url 'signin' %}" method="post" name="login">
                      {% csrf_token %}
                           <div class="form-group">
                              <label for="exampleInputEmail1" style="color: white;">ID</label>
                              <input type="username" name="username"  class="form-control" id="ID" aria-describedby="IDHelp" placeholder="Enter ID">
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail1" style="color: white;">Password</label>
                              <input type="password" name="password" id="password" class="form-control" aria-describedby="emailHelp" placeholder="Enter Password">
                           </div>
                           <div class="col-md-12 text-center ">
                              <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm " id=loginbutton>Login</button>
                           </div>
                           <div class="col-md-12 ">
                              <div class="login-or">
                                 <hr class="hr-or">
                                 <span class="span-or">or</span>
                              </div>
                           </div>
                           <div class="col-md-12 mb-3">
                              <p class="text-center signupgoogle" id="googlebutton">
                                 <a href="javascript:void();" class="google btn mybtn"><i class="fa fa-google-plus">
                                 </i> Signup using Google
                                 </a>
                              </p>
                           </div>
                           <div class="form-group">
                              <p class="text-center signuptext">Don't have account? <a href="{% url 'signup'%}" id="signup">Sign up here</a></p>
                           </div>
                        </form>

				</div>
			</div>
      </div>
      </div>
      </div>


  </body>
</html>
