<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Sign up CODI BOOGIE</title>
  <link rel="stylesheet" href="signup.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <a href="main.html"><img class="logo" src="로고.jpg" alt=""></a>

  <hr class="hr1">

    <div class="container">
      <form action="/action_page.php">

        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Your name..">

        <label for="id">ID</label>
        <input type="text" id="id" name="id" placeholder="Your ID..">

        <label for="password">Password</label>
        <input type="text" id="password" name="password" placeholder="Your Password..">

        <label for="phonenumber">Phone number</label>
        <input type="text" id="phonenumber" name="phonenumber" placeholder="전화번호를 '-'를 제외하고 입력하시오.">

        <label for="country">지역</label>
        <select id="country" name="country">
          <option value="seoul">서울</option>
          <option value="gyeonggi">경기</option>
          <option value="chungnam">충남</option>
          <option value="chungbuk">충북</option>
          <option value="gyeongbuk">경북</option>
          <option value="gyeongnam">경남</option>
          <option value="jeonbuk">전북</option>
          <option value="jeonman">전남</option>
        </select>

        <label for="gender" class="gender1">성별</label>
        <select id="gender" class="gender2" name="gender">
          <option value="female">여성</option>
          <option value="male">남성</option>
        </select>

    <input type="submit" value="Submit">

  </form>
  </div>

</body>
</html>
